<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>http://localhost:8080/eyebeacon/api</param-value>
		</init-param>
</root>
